{capture name="sidebar"}
<h1>sidebar</h1>
{/capture}
{capture name="mainbox"}
<h1>content</h1>
{/capture}
{capture name="content"}
<h1>content 0</h1>
{/capture}
{hook name="content"}
<h1>content 1</h1>
{/hook}